*{
  padding: 0;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.card{
width: 150px;
height: 150px;
position: relative;
transform-style: preserve-3d;
transition: transform 0.5s;
cursor: pointer;
}

.flip{
  transform: rotateY(180deg);
}

.front_card, 
.back_card{
width: 100%;
height: 100%;
border-radius: 20px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.521);
display: flex;
align-items: center;
justify-content: center;
position: absolute;
backface-visibility: hidden;

}

.front_card{
background-color: rgb(34, 34, 34);
transform: rotateY(180deg);
}

.back_card{
background-color: purple;
font-size: 50px;
color: white;
}

#gameBoard{
margin-top: 50px;
max-width: 700px;
display: grid;
grid-template: 1fr 1fr 1fr 1fr 1fr /1fr 1fr 1fr 1fr;
gap: 20px;
}
#gameOver{
  background-color: rgba(0, 0, 0, 0.74);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#gameOver p{
  font-size: 50px;
  color: white;
  text-shadow: 5px 5px 5px black;
}

#gameOver button{
  padding: 20px;
  margin-top: 20px;
  font-size: 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.timer{
  margin-top: 40px;
  height: 30px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.473);
}

@media only screen and (max-width: 600px){
  .card{
      width: 80px;
      height: 80px;
  }

  .card img{
      width: 50%;
  }
  .back_card{
    font-size: 20px;

    }
  #gameBoard{
      margin-top: 110px;
      
  }
  #gameOver p{
    font-size: 28px;
  }
  .timer{
    height: 10px;
  }
}